[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/bleu"]
	path = external/bleu
	url = https://gitlab.com/kokabe/bleu.git
